{% extends "base.html" %}

{% block title %}login screen{% endblock %}


{% block content %}
<form action="." method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit" class="btn btn-outline-secondary">Log-in</button>
    </form>
<a href="{% url 'social:begin' 'github' %}">
    <button type="button" class="btn btn-primary">Github</button>
</a>
<a href="{% url 'social:begin' 'google-oauth2' %}">
    <button type="button" class="btn btn-danger">Google+</button>
</a>


{% endblock %}