{% extends "base.html" %}
{% block content %}
            <form class="form-inline my-2 my-lg-0" method="GET" action="">
      <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search" name="q">
      <button class="btn btn-outline-secondary" type="button">Поиск</button>
    </form>
<div class="images" style="display: flex; flex-wrap: wrap; align-content:flex-end; ">
    {% for item in base %}
<div class="card" style="width: 26.5rem; background-color: black;">
      <ul class="list-group list-group-flush" style="background-color: black;">
        <li class="list-group-item" style="background-color: black;"><h3>{{item.title}}</h3></li>
    </ul>
    <a href="{{ item.get_absolute_url }}" class="card-link">  <img class="card-img-top" src="{{item.image.url}}" alt="Card image cap"></a>

  <div class="card-body" style="background-color: black;">
    <a href="{% url 'project_1:base' %}" class="card-link"></a>
    <a href="{{ item.get_absolute_url }}" class="card-link">О игре</a>

  </div>
</div>


<hr class="my-4" style="background-color: #00008b;">
    {% endfor %}
</div>




{% endblock %}