{% extends "base.html" %}
{% load embed_video_tags %}

{% block title %}{{news.title}}{% endblock %}

{% block content %}
<h1>{{news.title}}</h1>
{% if news.image %}
        <div class="container">
            <img src="{{news.image.url}}" class="img-fluid" width="90%">
        </div>
{% endif %}
<p> Published by {{news.author}} in {{news.publish}}</p>

<p>{{ news.body|linebreaksbr }}</p>
{% if news.video %}
{% endif %}
{% if news.audio %}

<h4>Саундтреки к игре {{news.title}}</h4>
<table>
    <tr>
        <td>
    <p>{{news.name_audio}}</p>
        </td>

        <td>
<audio controls>
    <source src="{{news.audio.url}}" type="audio/ogg; codecs=vorbis">
</audio>
        </td>
    </tr>
</table>
{% endif %}
{{ news.total_likes }} like{{ total_likes|pluralize }}
{% if request.user.is_authenticated %}


<form action="{% url 'project:like_post' %}" method="post">
    {% csrf_token %}
    {% if is_liked %}
    <button type="submit" name="post_id" value="{{ news.id }}" class="btn btn-primary"><img src="/static/image_static/shiok_dis.jpg" width="25 px" height="18 px" ></button>

        {% else %}
     <button type="submit" name="post_id" value="{{ news.id }}" class="btn btn-primary"><img src="/static/image_static/shiok.jpg" width="25 px" height="18 px" ></button>
    {% endif %}
{% endif %}
</form>
   {% for comment in comments %}

        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            {{comment.author_comment}}
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
            </span>
          </p>
          {{ comment.body | linebreaks }}
        </div>
        {% endfor %}
{% if request.user.is_authenticated %}
{% load crispy_forms_tags %}
<form method="post" style="margin-top: 1.3em;">
          {{ comment_form | crispy }}
          {% csrf_token %}
    {{ form.as_p }}
          <button type="submit" class="btn btn-outline-secondary">Send</button>
 </form>
{% else %}
<p>Что бы оставлять комментарии нажмите <a href="{% url 'project:login' %}">войти</a> или <a href="{% url 'project:registration' %}">зарегестрироваться</a></p>
{% endif %}

    <a href="{{ news.get_absolute_url }}"> К началу страницы </a>
|
    <a href="{% url 'project:all_news' %}"> К новостям </a>
{% endblock %}
