{% extends "base.html" %}

{% block title %}{{ lesson.title }}{% endblock %}

{% block content %}
<a href="{% url 'project:all_games' %}">Вернуться к играм</a>
    <h1>{{ game.title }}</h1>
    <p>
        {% for play in game.materials.all %}


                <div class="container">
    <a href="{{ play.get_absolute_url }}">{{ play.title }}</a>
                <br>
            <img src="{{play.image.url}}" class="img-fluid" width="10%">
    <br>
                    {{ play.body|linebreaks|truncatewords_html:35 }}
        </div>
        {% endfor %}
    </p>
{% endblock %}
