{% extends "base.html" %}


{% block content %}
    {% for news in news_list %}
        <h2>
            <a href="{{ news.get_absolute_url }}">{{ news.title }}</a>
        </h2>
        <div class="container">
            <img src="{{news.image.url}}" class="img-fluid" alt="" width="70%">
        </div>
        <p>
            Published {{ news.publish }} by {{ news.author }}
        </p>
        <p>
            {{ news.body|linebreaks|truncatewords_html:35  }}
        </p>
<hr class="my-4" style="background-color: #696969">
    {% endfor %}

{% endblock %}
